@import "./scrollbar.scss";
@import "./icon.scss";
@import "./px2rem.scss";

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main-start {
  justify-content: flex-start;
}

.main-center {
  justify-content: center;
}

.main-end {
  justify-content: flex-end;
}

.main-between {
  justify-content: space-between;
}

.secondary-start {
  align-items: flex-start;
}

.secondary-center {
  align-items: center;
}

.secondary-end {
  align-items: flex-end;
}

.ellipsis-line {
  padding: 8px;
  width: var(--ellipsisWidth);
  overflow: hidden;
  text-overflow: ellipsis; // 文本溢出显示省略号
  white-space: nowrap; // 文本不会换行
}

.multi-line {
  width: var(--ellipsisWidth);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--multiClamp);
  -webkit-box-orient: vertical;
}

.clearFloat {
  clear: both;
}
